body{
    width: 980px;
    margin: 0 auto;
}
body h1 {
    text-align: center;
}
.todo-app-controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#displayOptions ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
}
#displayOptions li {
    padding: 20px;
}
#todoListResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 50px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.todo-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 20px;
    margin: 20px;
    text-align: center;
    height: 250px;
    width: 250px;
    box-shadow: 0 3px 28px -3px rgba(0,0,0,.75);
}
.completed {
    color: #d9d9d9;
	text-decoration: line-through;
}

.changeTodoTextInput {
    display: none;
}
.changeTodoTextActive {
    display: block;
}
.todoTextInactive{
    display: none;
}