@font-face{
   font-family: Roboto;
   font-style: italic;
   font-weight: 100;
   src: local("Roboto Thin Italic"),local(Roboto-ThinItalic),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YVQlYEbsez9cZjKsNMjLOwM.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-Yfk_vArhqVIZ0nv9q090hN8.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/12mE4jfMSBTmg-81EiS-YRsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: italic;
   font-weight: 300;
   src: local("Roboto Light Italic"),local(Roboto-LightItalic),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/7m8l7TlFO-S3VkhHuR0at4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: italic;
   font-weight: 400;
   src: local("Roboto Italic"),local(Roboto-Italic),url(//fonts.gstatic.com/s/roboto/v15/OiNnAEwKzzJkQCr4qZmeq_esZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/vPcynSL0qHq_6dX7lKVByfesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: italic;
   font-weight: 500;
   src: local("Roboto Medium Italic"),local(Roboto-MediumItalic),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0WfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0Y4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: italic;
   font-weight: 700;
   src: local("Roboto Bold Italic"),local(Roboto-BoldItalic),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC2fQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC44P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: italic;
   font-weight: 900;
   src: local("Roboto Black Italic"),local(Roboto-BlackItalic),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpWfQcKutQXcIrRfyR5jdjY8.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpY4P5ICox8Kq3LLUNMylGO4.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: normal;
   font-weight: 100;
   src: local("Roboto Thin"),local(Roboto-Thin),url(//fonts.gstatic.com/s/roboto/v15/PP2U5prMl9yvKSWVu6DtvPesZW2xOQ-xsNqO47m55DA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/2tsd397wLxj96qwHyNIkxPesZW2xOQ-xsNqO47m55DA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/vzIUHo9z-oJ4WgkpPOtg1_esZW2xOQ-xsNqO47m55DA.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: normal;
   font-weight: 300;
   src: local("Roboto Light"),local(Roboto-Light),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUffY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/Hgo13k-tfSpn0qi1SFdUfT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: normal;
   font-weight: 400;
   src: local(Roboto),local(Roboto-Regular),url(//fonts.gstatic.com/s/roboto/v15/5YB-ifwqHP20Yn46l_BDhA.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/2UX7WLTfW3W8TclTUvlFyQ.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: normal;
   font-weight: 500;
   src: local("Roboto Medium"),local(Roboto-Medium),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUfY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUVtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: normal;
   font-weight: 700;
   src: local("Roboto Bold"),local(Roboto-Bold),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOPY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOFtXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
@font-face{
   font-family: Roboto;
   font-style: normal;
   font-weight: 900;
   src: local("Roboto Black"),local(Roboto-Black),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIvY6323mHUZFJMgTvxaG2iE.eot?#) format("eot"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIltXRa8TVwTICgirnJhmVJw.woff2) format("woff2"),url(//fonts.gstatic.com/s/roboto/v15/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}
 /*Mobile Max-Width 320px*/
 /*Universal Styles*/
body{
   font-family: Roboto; 
   margin:0;
   padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
.controlpanel-wrapper{
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px 0;
    background-color: #FA8072;
    color: white;
}
.controlpanel-wrapper h1{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 30px 0;
}
                
/*Controls*/
.todo-app-controls{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.todo-input-div{
    padding: 30px 0;
}
.todo-input-div input:focus{
    outline: inset thick #FA8072;
}
.todo-input-div input:focus::-webkit-input-placeholder {
    opacity: 0;
}
.todo-input-div input::-webkit-input-placeholder{
    color: #969696;
}
#newTodoInput{
    margin: 0;
    padding:0;
    height: 40px;
    font-size: 22px;
    text-align: center;
    border: solid 5px white;
}

.control-panel{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0;
}
#displayOptions ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    padding: 0;
}
#displayOptions li {
    font-size: 18px;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
#displayOptions a {
    border-bottom: 1px solid #FA8072;
}
#displayOptions a:hover {
    border-bottom: 3px solid white;
    -webkit-transition: border 0.7s ease;
    transition: border 0.7s ease;
}
#todoCounter{
   padding: 50px 0;
   text-align: center;
}
#todoCounter p{
    margin: 0;
    text-transform: uppercase;
}
.toggle-div{
   text-align: center;
}
#toggleAllButton{
    padding: 8px;
    font-size: 14px;
    width: 105px;
    background-color: #7dc6c6;
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 42px;
    border: none;
    outline: none;
    color: white;
}
#toggleAllButton:hover{
    box-shadow: 0 3px 20px -3px rgba(0,0,0,.75); 
}
#deleteAllButton{
    padding: 8px;
    font-size: 14px;
    width:105px;
    background-color: #7dc6c6;
    margin: 5px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 42px;
    border: none;
    outline: none;
    color: white;
}
#deleteAllButton:hover{
    box-shadow: 0 3px 20px -3px rgba(0,0,0,.75); 
}
/*Todos*/

#todoListResults {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.todo-item {
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
    text-align: center;
    height: auto;
    width: 280px;
    box-shadow: 0 3px 28px -3px rgba(0,0,0,.75);
}
.todoText{
    cursor: pointer;
    word-wrap: break-word;
    padding: 30px 5px;
    font-size: 18px;
}
.toggleCompleted{
    margin-top: 20px;
    width: 100%;
    text-transform: uppercase;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-top: white 1px solid;
    color: white;
}
.toggleCompleted:hover{
    border: none;
    background-color: #37BC61;
    cursor: pointer;
}
.deleteButton{
    width: 100%;
    text-transform: uppercase;
    padding: 8px;
    font-size: 18px;
    border: none;
    border-top: white 1px solid;
    color: white;
}
.deleteButton:hover{
    border: none;
    background-color: #F08080;
    cursor: pointer;
}

.completed {
    color: #d9d9d9;
	text-decoration: line-through;
}

.changeTodoTextInput {
    display: none;
}
.changeTodoTextActive {
    display: block;
    font-size: 18px;
    padding: 30px 5px;
    text-align: center;
    outline: none;
    border: none;
}
.todoTextInactive{
    display: none;
}                               
                                /*Mobile Min-Width 768px*/
@media (min-width: 768px){
#newTodoInput{
    height: 40px;
    font-size: 24px;
    width: 320px;
}

.todo-item {
    width: 320px;
    
}
.changeTodoTextActive {
    padding: 40px 5px;
    font-size: 20px;
}
.todoText{
    padding: 40px 5px;
    font-size: 20px;
} 
    
}                                
                               
                                /*Mobile Min-Width 1024px*/
                                
@media (min-width: 1024px){
/*Universal Styles*/
.controlpanel-wrapper h1{
    font-size: 38px;
}
/*Controls*/
#newTodoInput{
    height: 50px;
    width: 380px;
    font-size: 26px;
}
#toggleAllButton{
    font-size: 18px;
    width: 135px;
}
#deleteAllButton{
    font-size: 18px;
    width:135px;
}
#todoCounter p{
    font-size: 22px;
}
#displayOptions li {
    font-size: 22px;
}
/*todo items*/
.todo-item {
   font-size: 26px;
   width: 350px;
}
.todoText{
    font-size: 26px;
    padding: 60px 5px;
}
.changeTodoTextActive {
    padding: 60px 5px;
    font-size: 26px;
}
                                /*Mobile Min-Width 1350px*/
}
@media (min-width: 1350px){
/*Universal Styles*/
.controlpanel-wrapper h1{
    font-size: 46px;
}
#newTodoInput{
    height: 50px;
    width: 400px;
    font-size: 26px;
}

#displayOptions li {
    font-size: 24px;
    
}

}